:javascript
  SE.init({
      clientId: 2825,
      key: 'CtNgNzn5roqeORLJZ8ONGA((',
      channelUrl: '0.0.0.0:3000/testing',
      complete: function (data) { ... }
  });
%p#notice= notice


= link_to 'Edit', edit_question_path(@question)
\|
= link_to 'Back', questions_path
