%h2
  %a{href: "https://www.openshift.com/content/please-provide-a-dns-server"} Please provide a DNS SERVER - Total 444
%iframe{frameborder: "0", height: "371", scrolling: "no", seamless: "", src: "//docs.google.com/spreadsheets/d/1b3c63nliR0mua5eC4Hag6fxu2en2jF3YumAjZqXKzqw/gviz/chartiframe?oid=1047150125", width: "600"}

%p Going through all those hoops and loops to just get a PaaS App working with naked domain and usable sub-domains is ridiculous. This specially gets more cumbersome with SSL and slows down the website quite significantly (consider redirect, another CNAME level and so forth) and is pretty time consuming to setup.

%h2
  %a{href: "https://www.openshift.com/content/international-hosting-options-all-aws-regions"} International hosting options - Total 330
%iframe{frameborder: "0", height: "345", scrolling: "no", seamless: "", src: "//docs.google.com/spreadsheets/d/1b3c63nliR0mua5eC4Hag6fxu2en2jF3YumAjZqXKzqw/gviz/chartiframe?oid=1692152041", width: "600"}

%p Adding a Datacenter in the EU would greatly increase our presence in the EU. Not only would increase our buisness and users in the EU, but it would also increase performance for users who want to run a global buisness. Plus, it puts us in a direct competition to Heroku. 

%h2
  %a{href: "https://www.openshift.com/content/native-support-for-play-framework-application"} Native support for play framework application - Total 288
%iframe{frameborder: "0", height: "371", scrolling: "no", seamless: "", src: "//docs.google.com/spreadsheets/d/1b3c63nliR0mua5eC4Hag6fxu2en2jF3YumAjZqXKzqw/gviz/chartiframe?oid=947651177", width: "600"}

%p Adding native Play support would allow users to take advantage of support for asynchronous requests (something that linkedIn engineers found quite valuable).

%h2
  %a{href: "https://www.openshift.com/content/make-databases-scalable"} Make Database Scalable - Total 288
%iframe{frameborder: "0", height: "371", scrolling: "no", seamless: "", src: "//docs.google.com/spreadsheets/d/1b3c63nliR0mua5eC4Hag6fxu2en2jF3YumAjZqXKzqw/gviz/chartiframe?oid=153633276", width: "600"}

%p This is our achilles heel. This may not have as many votes as the others, but its our number one blocker for buisnesses choosing Openshift as their platform. 
